data/cm/logs/*
!data/cm/logs/
!data/cm/logs/.gitkeep

data/cm/mediacache/*
!data/cm/mediacache/
!data/cm/mediacache/.gitkeep

data/cm/packages/*
!data/cm/packages/
!data/cm/packages/.gitkeep

data/mssql/packages/*
!data/mssql/packages/
!data/mssql/packages/.gitkeep

data/solr/*
!data/solr/
!data/solr/.gitkeep

data/traefik/*
!data/traefik/
!data/traefik/config/
!data/traefik/config/dynamic/

publish/platform/*
!publish/platform/
!publish/platform/.gitkeep